body{
  background-color: pink;
}
h1{
font-family:sans-serif;
  color:white;
}
a {
  color:white;
  text-decoration:underline;
}

.name {
  display:flex;
  height:400px;
  width:400px;
  background-color:white;
  opacity: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction:row;
  justify-content:center;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: medium;
}
